body {
    text-align: center;
    background-color:#0d1433;
    color:blueviolet;
}


.dalnewale{
    width: 340px;
    height: 40px;
    text-align: center;
}

.buttons{
    width: 50px;
    font-size: 30px;
    background-color: blanchedalmond;    
}
.line{

    background-color: white;
    width: 250px;
    height: 5px;
    margin: auto;
    
}